<component name="ArtifactManager">
  <artifact type="jar" name="SpringProject:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringProject_jar</output-path>
    <root id="archive" name="SpringProject.jar">
      <element id="module-output" name="api-gateway" />
      <element id="module-output" name="cart-service" />
      <element id="module-output" name="eureka-server" />
      <element id="module-output" name="product-service" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/dom4j/dom4j/2.1.3/dom4j-2.1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-transport-native-epoll/4.1.58.Final/netty-transport-native-epoll-4.1.58.Final-linux-x86_64.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-netflix-eureka-server/3.0.0/spring-cloud-netflix-eureka-server-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-actuator-autoconfigure/2.4.2/spring-boot-actuator-autoconfigure-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/data/spring-data-commons/2.4.3/spring-data-commons-2.4.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/commons-lang/commons-lang/2.6/commons-lang-2.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-context-support/5.3.3/spring-context-support-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-orm/5.3.3/spring-orm-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-codec/4.1.58.Final/netty-codec-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/google/code/gson/gson/2.8.6/gson-2.8.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/httpcomponents/httpcore/4.4.14/httpcore-4.4.14.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-jdbc/5.3.3/spring-jdbc-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/transaction/jakarta.transaction-api/1.3.3/jakarta.transaction-api-1.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/data/spring-data-jpa/2.4.3/spring-data-jpa-2.4.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/commons-configuration/commons-configuration/1.10/commons-configuration-1.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-aspects/5.3.3/spring-aspects-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter-netflix-eureka-client/3.0.1/spring-cloud-starter-netflix-eureka-client-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-resolver-dns-native-macos/4.1.58.Final/netty-resolver-dns-native-macos-4.1.58.Final-osx-x86_64.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.11.4/jackson-datatype-jdk8-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/commons/commons-math/2.2/commons-math-2.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.11.4/jackson-datatype-jsr310-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/fusesource/hawtbuf/hawtbuf/1.11/hawtbuf-1.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/core/jackson-databind/2.11.4/jackson-databind-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/woodstox/woodstox-core/5.3.0/woodstox-core-5.3.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/netflix-commons/netflix-infix/0.3.0/netflix-infix-0.3.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-logging/2.4.2/spring-boot-starter-logging-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/security/spring-security-crypto/5.4.2/spring-security-crypto-5.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-actuator/2.4.2/spring-boot-actuator-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/httpcomponents/httpclient/4.5.13/httpclient-4.5.13.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-context/3.0.1/spring-cloud-context-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/h2database/h2/1.4.200/h2-1.4.200.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot/2.4.2/spring-boot-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-web/2.4.2/spring-boot-starter-web-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/javassist/javassist/3.27.0-GA/javassist-3.27.0-GA.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-expression/5.3.3/spring-expression-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-jcl/5.3.3/spring-jcl-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-jdbc/2.4.2/spring-boot-starter-jdbc-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/classmate/1.5.1/classmate-1.5.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter/3.0.1/spring-cloud-starter-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/javax/inject/javax.inject/1/javax.inject-1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-beans/5.3.3/spring-beans-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/validation/jakarta.validation-api/2.0.2/jakarta.validation-api-2.0.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/netflix-commons/netflix-eventbus/0.3.0/netflix-eventbus-0.3.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-netflix-eureka-client/3.0.0/spring-cloud-netflix-eureka-client-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-codec-dns/4.1.58.Final/netty-codec-dns-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-context/5.3.3/spring-context-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/xml/bind/jakarta.xml.bind-api/2.3.3/jakarta.xml.bind-api-2.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/jersey/jersey-server/1.19.4/jersey-server-1.19.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/jersey/jersey-client/1.19.4/jersey-client-1.19.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/logging/log4j/log4j-api/2.13.3/log4j-api-2.13.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-messaging/5.3.3/spring-messaging-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/bouncycastle/bcpkix-jdk15on/1.64/bcpkix-jdk15on-1.64.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/projectreactor/addons/reactor-extra/3.4.2/reactor-extra-3.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-cache/2.4.2/spring-boot-starter-cache-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/eureka/eureka-client/1.10.10/eureka-client-1.10.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/google/guava/guava/16.0/guava-16.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter-netflix-eureka-server/3.0.0/spring-cloud-starter-netflix-eureka-server-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/istack/istack-commons-runtime/3.0.11/istack-commons-runtime-3.0.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/zaxxer/HikariCP/3.4.5/HikariCP-3.4.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/core/jackson-annotations/2.11.4/jackson-annotations-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/reactivestreams/reactive-streams/1.0.3/reactive-streams-1.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/jersey/contribs/jersey-apache-client4/1.19.1/jersey-apache-client4-1.19.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/module/jackson-module-parameter-names/2.11.4/jackson-module-parameter-names-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/codehaus/woodstox/stax2-api/4.2.1/stax2-api-4.2.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/thoughtworks/xstream/xstream/1.4.13/xstream-1.4.13.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter-gateway/3.0.0/spring-cloud-starter-gateway-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/latencyutils/LatencyUtils/2.0.3/LatencyUtils-2.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/hibernate/validator/hibernate-validator/6.1.7.Final/hibernate-validator-6.1.7.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/security/spring-security-rsa/1.0.9.RELEASE/spring-security-rsa-1.0.9.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/micrometer/micrometer-core/1.6.3/micrometer-core-1.6.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-aop/5.3.3/spring-aop-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-buffer/4.1.58.Final/netty-buffer-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-core/5.3.3/spring-core-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-handler-proxy/4.1.58.Final/netty-handler-proxy-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-actuator/2.4.2/spring-boot-starter-actuator-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/eureka/eureka-core/1.10.11/eureka-core-1.10.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-commons/3.0.1/spring-cloud-commons-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/annotation/jakarta.annotation-api/1.3.5/jakarta.annotation-api-1.3.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-data-jpa/2.4.2/spring-boot-starter-data-jpa-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/projectreactor/netty/reactor-netty-core/1.0.3/reactor-netty-core-1.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/activation/jakarta.activation/1.2.2/jakarta.activation-1.2.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/google/inject/guice/4.1.0/guice-4.1.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/codehaus/jettison/jettison/1.4.0/jettison-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-transport/4.1.58.Final/netty-transport-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-context/3.0.0/spring-cloud-context-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-autoconfigure/2.4.2/spring-boot-autoconfigure-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/hibernate/hibernate-core/5.4.27.Final/hibernate-core-5.4.27.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-common/4.1.58.Final/netty-common-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/github/vlsi/compactmap/compactmap/2.0/compactmap-2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/stoyanr/evictor/1.0.0/evictor-1.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/projectlombok/lombok/1.18.16/lombok-1.18.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-commons/3.0.0/spring-cloud-commons-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-json/2.4.2/spring-boot-starter-json-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/slf4j/jul-to-slf4j/1.7.30/jul-to-slf4j-1.7.30.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/activemq/activemq-broker/5.16.0/activemq-broker-5.16.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-codec-http/4.1.58.Final/netty-codec-http-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-transport-native-unix-common/4.1.58.Final/netty-transport-native-unix-common-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-aop/2.4.2/spring-boot-starter-aop-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/slf4j/slf4j-api/1.7.30/slf4j-api-1.7.30.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-resolver-dns/4.1.58.Final/netty-resolver-dns-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/thoughtworks/xstream/xstream/1.4.14/xstream-1.4.14.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/hibernate/common/hibernate-commons-annotations/5.1.2.Final/hibernate-commons-annotations-5.1.2.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/logging/log4j/log4j-to-slf4j/2.13.3/log4j-to-slf4j-2.13.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-gateway-server/3.0.0/spring-cloud-gateway-server-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-resolver/4.1.58.Final/netty-resolver-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/net/bytebuddy/byte-buddy/1.10.19/byte-buddy-1.10.19.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/aspectj/aspectjweaver/1.9.6/aspectjweaver-1.9.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/bouncycastle/bcprov-jdk15on/1.64/bcprov-jdk15on-1.64.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/projectreactor/reactor-core/3.4.2/reactor-core-3.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/jersey/jersey-core/1.19.1/jersey-core-1.19.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/tomcat/embed/tomcat-embed-core/9.0.41/tomcat-embed-core-9.0.41.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/eureka/eureka-client/1.10.11/eureka-client-1.10.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/aopalliance/aopalliance/1.0/aopalliance-1.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-loadbalancer/3.0.1/spring-cloud-loadbalancer-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-validation/2.4.2/spring-boot-starter-validation-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/codehaus/woodstox/stax2-api/4.2/stax2-api-4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-codec-socks/4.1.58.Final/netty-codec-socks-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-activemq/2.4.2/spring-boot-starter-activemq-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/module/jackson-module-jaxb-annotations/2.11.4/jackson-module-jaxb-annotations-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-handler/4.1.58.Final/netty-handler-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/geronimo/specs/geronimo-j2ee-management_1.1_spec/1.0.1/geronimo-j2ee-management_1.1_spec-1.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/activation/jakarta.activation-api/1.2.2/jakarta.activation-api-1.2.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/persistence/jakarta.persistence-api/2.2.3/jakarta.persistence-api-2.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-netflix-eureka-client/3.0.1/spring-cloud-netflix-eureka-client-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-freemarker/2.4.2/spring-boot-starter-freemarker-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/javax/ws/rs/jsr311-api/1.1.1/jsr311-api-1.1.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/eureka/eureka-core/1.10.10/eureka-core-1.10.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/commons-codec/commons-codec/1.15/commons-codec-1.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/dataformat/jackson-dataformat-xml/2.11.4/jackson-dataformat-xml-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/archaius/archaius-core/0.7.6/archaius-core-0.7.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/yaml/snakeyaml/1.27/snakeyaml-1.27.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/google/guava/guava/19.0/guava-19.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/netty/netty-codec-http2/4.1.58.Final/netty-codec-http2-4.1.58.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/joda-time/joda-time/2.3/joda-time-2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/antlr/antlr-runtime/3.4/antlr-runtime-3.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/io/projectreactor/netty/reactor-netty-http/1.0.3/reactor-netty-http-1.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/xmlpull/xmlpull/1.1.3.1/xmlpull-1.1.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter/3.0.0/spring-cloud-starter-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter-loadbalancer/3.0.0/spring-cloud-starter-loadbalancer-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-webmvc/5.3.3/spring-webmvc-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter/2.4.2/spring-boot-starter-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-reactor-netty/2.4.2/spring-boot-starter-reactor-netty-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/glassfish/jakarta.el/3.0.3/jakarta.el-3.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-tx/5.3.3/spring-tx-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/activemq/activemq-openwire-legacy/5.16.0/activemq-openwire-legacy-5.16.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/glassfish/jaxb/jaxb-runtime/2.3.3/jaxb-runtime-2.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/fasterxml/jackson/core/jackson-core/2.11.4/jackson-core-2.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/xpp3/xpp3_min/1.1.4c/xpp3_min-1.1.4c.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-webflux/5.3.3/spring-webflux-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/jakarta/jms/jakarta.jms-api/2.0.3/jakarta.jms-api-2.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/commons-jxpath/commons-jxpath/1.3/commons-jxpath-1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/jboss/logging/jboss-logging/3.4.1.Final/jboss-logging-3.4.1.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/glassfish/jaxb/txw2/2.3.3/txw2-2.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-tomcat/2.4.2/spring-boot-starter-tomcat-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/antlr/stringtemplate/3.2.1/stringtemplate-3.2.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/boot/spring-boot-starter-webflux/2.4.2/spring-boot-starter-webflux-2.4.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/freemarker/freemarker/2.3.30/freemarker-2.3.30.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-web/5.3.3/spring-web-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/github/andrewoma/dexx/dexx-collections/0.2/dexx-collections-0.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/jboss/jandex/2.1.3.Final/jandex-2.1.3.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/antlr/antlr/2.7.7/antlr-2.7.7.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-loadbalancer/3.0.0/spring-cloud-loadbalancer-3.0.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/hdrhistogram/HdrHistogram/2.1.12/HdrHistogram-2.1.12.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/spring-jms/5.3.3/spring-jms-5.3.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/tomcat/embed/tomcat-embed-websocket/9.0.41/tomcat-embed-websocket-9.0.41.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/apache/activemq/activemq-client/5.16.0/activemq-client-5.16.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/org/springframework/cloud/spring-cloud-starter-loadbalancer/3.0.1/spring-cloud-starter-loadbalancer-3.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/javax/servlet/servlet-api/2.5/servlet-api-2.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/netflix/servo/servo-core/0.12.21/servo-core-0.12.21.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../Maven/repository/com/sun/jersey/jersey-servlet/1.19.4/jersey-servlet-1.19.4.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>